---
layout: frontpage
---

<div class="u-pl u-pr max-mobile-mt">

    <div class="layout">

        <article class="layout__item u-2/3-full-nav">

            <section class="clearfix u-mb u-bb">
                {% include preview.html %}
            </section>
            <section class="clearfix u-mb u-bb">
                {% include preview.html %}
            </section>
            <section class="clearfix u-mb u-bb">
                {% include preview.html %}
            </section>
            <section class="clearfix u-mb u-bb">
                {% include preview.html %}
            </section>

        </article><!--

    --><aside class="layout__item u-1/3-full-nav">

            <section class="clearfix u-mb u-bb">

                {% include sidebar-preview.html %}
            </section>
            <section class="clearfix u-mb u-bb">
                {% include sidebar-preview.html %}
            </section>
            <section class="clearfix u-mb u-bb">
                {% include sidebar-preview.html %}
            </section>

    </aside>


</div>
