---
layout: page
---

<div class="u-pl u-pr u-mt">

    <div class="layout">

        <article class="layout__item u-2/3-full-nav">

            		<h1>Locations</h1>


            				<p>With music teachers located all over New Zealand from <a title="Auckland" href="http://www.nzmusicteachers.co.nz/auckland/">Auckland</a>&nbsp;to <a title="Invercargill" href="http://www.nzmusicteachers.co.nz/invercargill/">Invercargill</a>&nbsp;you are sure to find a teacher for you instrument. Below is a list of all the instruments taught in each city or town. Do you teach? <a title="Join Up" href="http://www.nzmusicteachers.co.nz/join-up/">Join up today</a></p>


                    <section class="menu-city-town_container clearfix">

                    <h3 class="u-mb-">Choose a city/town:</h3>
            		<ul id="menu-city-town" class="menu stack-list heading allcaps u-1/2-full-nav u-pr">


            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/auckland">Auckland</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/cello-lessons">Cello Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/clarinet-lessons">Clarinet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/double-bass-lessons">Double Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/drum-lessons">Drum Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/electronic-dance-music-production-lessons">Electronic Dance Music Production Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/flute-lessons">Flute Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/french-horn-lessons">French Horn Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/electric-bass-lessons">Electric Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/guzheng-lessons">Guzheng Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/harp-lessons">Harp Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/jazz-improvisation-lessons">Jazz Improvisation Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/keyboard-lessons">Keyboard Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/mixing-and-mastering-lessons">Mixing and Mastering Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/music-and-movement-for-under-fives">Music And Movement For Under Fives</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/recorder-lessons">Recorder Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/saxophone-lessons">Saxophone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/trombone-lessons">Trombone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/trumpet-lessons">Trumpet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/viola-lessons">Viola Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/auckland/violin-lessons">Violin Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/alexandra">Alexandra</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/alexandra/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/alexandra/drama-lessons">Drama Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/alexandra/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/alexandra/keyboard-lessons">Keyboard Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/alexandra/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/alexandra/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/alexandra/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/alexandra/theory-lessons">Theory Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/cambridge">Cambridge</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/cambridge/flute-lessons">Flute Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/cambridge/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/cambridge/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/cambridge/recorder-lessons">Recorder Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/cambridge/theory-lessons">Theory Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/christchurch">Christchurch</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/banjo-lessons">Banjo Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/bassoon-lessons">Bassoon Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/cello-lessons">Cello Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/clarinet-lessons">Clarinet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/cornet-lessons">Cornet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/drum-lessons">Drum Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/electric-bass-lessons">Electric Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/double-bass-lessons">Double Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/euphonium-lessons">Euphonium Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/feldenkrais-lessons-for-all-musicians">Feldenkrais lessons for all musicians</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/flugelhorn-lessons">Flugelhorn Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/flute-lessons">Flute Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/french-horn-lessons">French Horn Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/harmonica-diatonic">Harmonica Diatonic</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/harp-lessons">Harp Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/jazz-improvisation-lessons">Jazz Improvisation Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/ncea-music-tutoring">NCEA Music Tutoring</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/oboe-lessons">Oboe Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/organ-lessons">Organ Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/recorder-lessons">Recorder Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/saxophone-lessons">Saxophone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/trombone-lessons">Trombone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/trumpet-lessons">Trumpet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/tuba-lessons">Tuba Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/ukulele-lessons">Ukulele Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/viola-lessons">Viola Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/christchurch/violin-lessons">Violin Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/dunedin">Dunedin</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/double-bass-lessons">Double Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/drum-lessons">Drum Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/electric-bass-lessons">Electric Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/euphonium-lessons">Euphonium Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/jazz-improvisation-lessons">Jazz Improvisation Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/trombone-lessons">Trombone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/ukulele-lessons">Ukulele Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/dunedin/violin-lessons">Violin Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/fielding">Fielding</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/fielding/flute-lessons">Flute Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/fielding/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/fielding/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/fielding/recorder-lessons">Recorder Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/hamilton">HAMILTON</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/artist-development">Artist development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/cornet-lessons">Cornet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/drum-lessons">Drum Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/electric-bass-lessons">Electric Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/euphonium-lessons">Euphonium Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/flugelhorn-lessons">Flugelhorn Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/jazz-improvisation-lessons">Jazz Improvisation Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/keyboard-lessons">Keyboard Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/ncea-music-tutoring">NCEA Music Tutoring</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/trombone-lessons">Trombone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/trumpet-lessons">Trumpet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hamilton/violin-lessons">Violin Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/hawkes-bay">Hawkes Bay</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/hawkes-bay/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hawkes-bay/ncea-music-tutoring">NCEA Music Tutoring</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hawkes-bay/violin-lessons">Violin Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/hawkes-bay/viola-lessons">Viola Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/invercargill">INVERCARGILL</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/drama-lessons">Drama Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/flute-lessons">Flute Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/recorder-lessons">Recorder Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/invercargill/ukulele-lessons">Ukulele Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/levin">Levin</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/levin/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/levin/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/levin/percussion-lessons">Percussion Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/levin/recorder-lessons">Recorder Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/levin/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/levin/theory-lessons">Theory Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/lower-hutt">LOWER HUTT</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/lower-hutt/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/lower-hutt/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/lower-hutt/drum-lessons">Drum Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/lower-hutt/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/lower-hutt/violin-lessons">Violin Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/motueka">MOTUEKA</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/motueka/music-and-movement-for-under-fives">Music And Movement For Under Fives</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/motueka/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/motueka/theory-lessons">Theory Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/nelson">NELSON</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/blues-harmonica">Blues Harmonica</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/cello-lessons">Cello Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/cornet-lessons">Cornet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/drama-lessons">Drama Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/euphonium-lessons">Euphonium Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/flugelhorn-lessons">Flugelhorn Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/french-horn-lessons">French Horn Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/jazz-improvisation-lessons">Jazz Improvisation Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/keyboard-lessons">Keyboard Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/music-and-movement-for-under-fives">Music and Movement for under fives</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/ncea-music-tutoring">NCEA Music Tutoring</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/recorder-lessons">Recorder Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/trombone-lessons">Trombone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/trumpet-lessons">Trumpet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/tuba-lessons">Tuba Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/violin-lessons">Violin Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/nelson/viola-lessons">Viola Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/oamaru">OAMARU</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/drum-lessons">Drum Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/electric-bass-lessons">Electric Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/harmonica-diatonic">Harmonica Diatonic</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/music-and-movement-for-under-fives">Music And Movement For Under Fives</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/ncea-music-tutoring">NCEA Music Tutoring</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/oamaru/ukulele-lessons">Ukulele Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/palmerston-north">PALMERSTON NORTH</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/bassoon-lessons">Bassoon Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/clarinet-lessons">Clarinet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/drama-lessons">Drama Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/drum-lessons">Drum Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/electric-bass-lessons">Electric Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/electronic-dance-music-production-lessons">Electronic Dance Music Production Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/flute-lessons">Flute Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/jazz-improvisation-lessons">Jazz Improvisation Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/keyboard-lessons">Keyboard Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/mixing-and-mastering-lessons">Mixing and Mastering Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/ncea-music-tutoring">NCEA Music Tutoring</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/oboe-lessons">Oboe Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/recorder-lessons">Recorder Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/ukulele-lessons">Ukulele Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/palmerston-north/violin-lessons">Violin Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/rotorua">ROTORUA</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/rotorua/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/rotorua/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/rotorua/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/rotorua/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/rotorua/recorder-lessons">Recorder Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/rotorua/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/rotorua/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/rotorua/ukulele-lessons">Ukulele Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/taupo">TAUPO</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/taupo/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/taupo/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/taupo/theory-lessons">Theory Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/tauranga">TAURANGA</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/cello-lessons">Cello Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/clarinet-lessons">Clarinet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/cornet-lessons">Cornet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/euphonium-lessons">Euphonium Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/flugelhorn-lessons">Flugelhorn Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/flute-lessons">Flute Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/jazz-improvisation-lessons">Jazz Improvisation Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/music-and-movement-for-under-fives">Music And Movement For Under Fives</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/tuba-lessons">Tuba Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/violin-lessons">Violin Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/saxophone-lessons">Saxophone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/tauranga/ukulele-lessons">Ukulele Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/timaru">Timaru</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/timaru/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/timaru/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/timaru/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/timaru/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/timaru/music-and-movement-for-under-fives">Music And Movement For Under Fives</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/timaru/ncea-music-tutoring">NCEA Music Tutoring</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/timaru/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/timaru/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/timaru/violin-lessons">Violin Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/wanaka">Wanaka</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/wanaka/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wanaka/keyboard-lessons">Keyboard Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wanaka/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wanaka/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wanaka/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wanaka/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wanaka/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wanaka/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wanaka/singing-lessons">Singing Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/wellington">WELLINGTON</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/cello-lessons">Cello Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/clarinet-lessons">Clarinet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/cornet-lessons">Cornet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/drum-lessons">Drum Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/electric-bass-lessons">Electric Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/euphonium-lessons">Euphonium Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/flute-lessons">Flute Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/jazz-improvisation-lessons">Jazz Improvisation Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/keyboard-lessons">Keyboard Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/music-and-movement-for-under-fives">Music and Movement for Under Fives</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/ncea-music-tutoring">NCEA Music Tutoring</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/piano-lessons">Piano Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/recorder-lessons">Recorder Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/saxophone-lessons">Saxophone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/singing-lessons">Singing Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/theory-lessons">Theory Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/trombone-lessons">Trombone Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/trumpet-lessons">Trumpet Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/tuba-lessons">Tuba Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/ukulele-lessons">Ukulele Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/viola-lessons">Viola Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/wellington/violin-lessons">Violin Lessons</a></li>

            												</ul>
            									</li>



            		 		<li class="parent">
            				<a href="http://www.nzmusicteachers.co.nz/whangarei">Whangarei</a>


            						<ul class="sub-menu">



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/banjo-lessons">Banjo Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/electric-bass-lessons">Electric Bass Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/guitar-lessons">Guitar Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/artist-development">Artist Development</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/aural-lessons">Aural Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/composition-lessons">Composition Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/song-writing-workshops">Song Writing Workshops</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/music-and-movement-for-under-fives">Music and Movement for Under Fives</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/ukulele-lessons">Ukulele Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/ensemble-coaching">Ensemble Coaching</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/jazz-improvisation-lessons">Jazz Improvisation Lessons</a></li>



            							<li><a href="http://www.nzmusicteachers.co.nz/whangarei/ncea-music-tutoring">NCEA Music Tutoring</a></li>

            												</ul>
            									</li>

            							</ul>


                                    </section></article><!--

    --><aside class="layout__item u-1/3-full-nav">

            <section class="clearfix u-mb u-bb">

                {% include sidebar-preview.html %}
            </section>
            <section class="clearfix u-mb u-bb">
                {% include sidebar-preview.html %}
            </section>
            <section class="clearfix u-mb u-bb">
                {% include sidebar-preview.html %}
            </section>

    </aside>


</div>
