<nav id="nav" role="navigation" class="nav u-pl u-pr text-center">




    <a href="/" class="nav-branding"><p class="gamma">NZ MUSIC TEACHERS ONLINE</p>
    </a>

    <ul id="main-menu" class="primary-menu u-ml0"><li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-126"><a href="http://oamaruoperahouse.co.nz/whats-on/">Instruments/Services</a>

    </li>
    <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127"><a href="http://oamaruoperahouse.co.nz/visiting-our-venue/">Teacher Locations</a>

    </li>
    <li id="menu-item-146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-146"><a href="http://oamaruoperahouse.co.nz/venue-hire/">About</a>

    </li>
    <li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="http://oamaruoperahouse.co.nz/contact-us/">Contact</a></li>

    <li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151 "><a href="http://oamaruoperahouse.co.nz/contact-us/" class="button--white u-vm full-nav-mb0 u-mt full-nav-mt0">Login</a></li>

    <li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151 join-up "><a href="http://oamaruoperahouse.co.nz/contact-us/" class="button--secondary u-vm u-mb0">Join Up</a></li>



    </ul>





</nav>
