<div class="bg-base-color clearfix hide-full-nav">
    <span class="beta aligncenter text-center u-1/1 u-pt- u-mb-">
        NZMTO
    </span>
    <a class="text-right button--app button">
        join up
    </a>
</div>

<label for="nav-trigger">
    <p id="mob-nav" class="hamburger">
        <span class="slice1"></span>
        <span class="slice2"></span>
        <span class="slice3"></span>
        <b class="screenreader">Menu</b>
    </p>
</label>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
