
<!-- Logged In -->
<div class="bg-highlight u-p white-heading site-wrap--no-banner">

    <div class="layout">

        <div class="layout__item u-1/2-full-nav">
            <p class="gamma u-mb0">
                Welcome back Michael Story

            </p>
            <p>
                <small>
                You joined on Feb 1st 2016 on the Premium Plan. You have received 18 enquiries.
            </small>
        </p>
        </div><!--

        --><div class="layout__item u-1/2-full-nav text-center full-nav-text-right">
            <a href="" class="button--secondary u-vm u-mr-- u-ml-- ">Upgrade</a>
            <a href="" class="button--white u-vm u-mr-- u-ml-- ">View my page</a>
            <a href="" class="button--white u-vm u-mr-- u-ml-- full-nav-mr0">Logout</a>
            <small class="fw"><a href="" class="u-vm secret-link">Delete my page</a></small>
        </div>
    </div>


</div>

<!-- logged out
<header class="text-center u-pb white">
    <section class="aligncenter u-3/4-desk u-pr u-pl">
        <h1 class="white">NZ Music Teachers Online</h1>

    </section>
</header>
-->
<section class="bg-base-color text-center u-pt u-p u-pb0">
    <h2 class="body-text gamma white-heading nocaps u-2/3-small-desk aligncenter"><em>A place for music students to find teachers &amp; music teachers to promote their skills and services</em></h2>
    <p class="u-mb0">
        <a href="" class="button--secondary u-1/1-max-mobile u-mr-- u-ml-- button--big">Teacher Locations</a><a class="button--secondary  u-1/1-max-mobile  u-mr-- u-ml-- button--big ">Instruments/Services</a>
    </p>

</section>
