input[type="search"] {
	background: transparent;
	border: solid 1px white;
	padding: 15px 41px 14px 14px;
	color: white;
    width: 100%;
    box-sizing: border-box;
}

.search-form {
	//width: 100%;
	//margin: $spacing-unit auto;
	position: relative;
	float: left;
	clear: left;
    width: 100%;
	//margin-left: $spacing-unit;

    /*
    this is a border for the search icon if you want
	&:after {
		content: "";
		position: absolute;
		top:0;
		left: 33px;
		width: 1px;
		background: white;
		height: 32px;

	}

    */

	svg {
		position: absolute;
		top: 13px;
		right: 12px;
		fill: white;
		width: 20px;
		height: 20px;
        pointer-events: none;

		&:hover {
			cursor: pointer;
		}
	}

    #searchsubmit {
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 47px;
        //background: red;
    }

    /*
	@include bp(lap-and-up) {
		width: 110px;
		position: absolute;
		top: -5px;
		right: 0;
		margin: 0px;
	}

	@include bp(portable) {
		width: 135px;
		position: absolute;
		top: -5px;
		right: 0;
		margin: 0px;
	}
    */
}
