.slide-in-content {
    @include vendor(transform, translate(0, -200%));
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    @include vendor(transition, 0.7s all);
}

.slide-in-content--show {
    @include vendor(transform, translate(0, 0));
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    z-index: 999;
    background: white;
    padding-top: $spacing-unit;
}
