
@font-face {
    font-family: 'pontiac-web';
    src: url('../../fonts/pontiac/Black/pontiac_black-webfont.eot');
    src: url('../../fonts/pontiac/Black/pontiac_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/pontiac/Black/pontiac_black-webfont.woff2') format('woff2'),
         url('../../fonts/pontiac/Black/pontiac_black-webfont.woff') format('woff'),
         url('../../fonts/pontiac/Black/pontiac_black-webfont.ttf') format('truetype'),
         url('../../fonts/pontiac/Black/pontiac_black-webfont.svg#pontiacblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
